@import "global.css";

.list {
    color: rgb(0, 133, 0);
    background: rgba(187, 241, 187, 0.276);
}

.card-footer > a {
    text-decoration: none;
    color: rgb(0, 92, 0);
}

.card-footer > a:hover {
    text-decoration: underline;
}